@page "/"
@using Petshop.App.Classes;
@inject PetStore store

<PageTitle>Pet Store</PageTitle>

<h1>Pet Store</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Feed</th>
            <th scope="col">Animal</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>


    @*
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    *@


</table>
